BETTER_AUTH_SECRET=xsqXVL1VGLkdZGmdrMV2cE1fnglnv3Tp
BETTER_AUTH_URL=http://localhost:3000 
MONGODB_URI=mongodb+srv://syeedmdtuaha_db_user:tuaha123@cluster0.3kwdkul.mongodb.net/?appName=Cluster0

GOOGLE_CLIENTID=766622876381-xxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_SECRET=GOCSPX-XXXXXXXXX-XXXXXXXXXXX

NEXT_PUBLIC_SERVER_URL=http://localhost:5000